<div class="container"><div class="row"><div class="col-8 offset-2">

<h1 style="margin-top: 2%">New Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>
</div></div></div>