<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="margin-top">New Ticket</h1>
      <p id="komunikat" class="<%= flash[:class] %>"><%= flash[:komunikat] %></p>

      <%= render 'form', ticket: @ticket %>

      <%= link_to 'Back', tickets_path %>
    </div>
  </div>
</div>